<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/_header') %>
</head>
<body>
<div id="container">
    <h1 id="header">Who Are You?</h1>
        <div class="buttonContainer">
            <a href="initialPicker.ejs"><button class="buttonSelect" id="televisionSelect">Sales</button></a>
        </div>
        <div class="buttonContainer">
            <a href="users/user-list"><button class="buttonSelect" id="televisionSelect">Stock</button></a>
        </div>
        
</div>


      
</body>
</html>